
.ipynb_checkpoints/instamat_sobes-checkpoint.ipynb
.ipynb_checkpoints/instamart_sobes-checkpoint.ipynb
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/dostavista_test-checkpoint.ipynb
.ipynb_checkpoints/Aurora_Infinity_networkx-exercise-checkpoint.ipynb
северсталь/X_data.csv
северсталь/Y_submit.csv
северсталь/Y_train.csv
северсталь/.ipynb_checkpoints/task_2-checkpoint.ipynb
северсталь/.ipynb_checkpoints/task_2-checkpoint.ipynb
